{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<style>
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(64, 204, 83) 50%, rgb(9, 180, 123) 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }
    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }
</style> 

<section class="section-content padding-y">
<div class="container">

<!-- =========================== COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Billing Address</h4>
      <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col form-group">
            <label for="">First Name</label>
            <input type="text" name="first_name" class="form-control" required>
          </div>
          <div class="col form-group">
            <label for="">Last Name</label>
            <input type="text" name="last_name" class="form-control" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="col form-group">
            <label for="">Phone Number</label>
            <input type="text" name="phone" class="form-control" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="">Address</label>
            <input type="text" name="address_line" class="form-control" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="">City</label>
            <input type="text" name="city" class="form-control" required>
          </div>
          <div class="col form-group">
            <label for="">State</label>
            <input type="text" name="state" class="form-control" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="">Order Note</label>
            <input type="text" name="order_note" class="form-control" required>
          </div>
        </div>
        </div>
  </div> <!-- card.// -->
	</aside> <!-- col.// -->
	
  <aside class="col-lg-6">
		<div class="card">
		<div class="card-body">
      <table class="table table-borderless table-shopping-cart">
      <thead class="text-muted">
      <tr class="small text-uppercase">
        <th scope="col">Instrument</th>
        {% comment %} <th scope="col" width="120">Quantity</th>
        <th scope="col" width="120">Price</th> {% endcomment %}
      </tr>
      </thead>
      <tbody>

        {% for wish_item in wishlist_items %}   
        <tr>
            <td>
                <figure class="itemside align-items-center">
                    <div class="aside"><img src="{{ wish_item.instrument.instrument_image.url }}" class="img-sm"></div>
                    <figcaption class="info">
                        <a href="#" class="title text-dark">{{ wish_item.instrument.instrument_name }}</a>
                        <p class="text-muted small">{{ wish_item.instrument.category }} <br> {{ wish_item.instrument.institute }}</p>
                    </figcaption>
                </figure>
            </td>
            <td class="text-right"> 
            {% comment %} <a href="{% url 'remove_wishlist' wish_item.instrument.id %}" class="btn btn-danger"> Remove</a> {% endcomment %}
            </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
	{% comment %} <a href="{% url 'instrument' %}" class="btn btn-light btn-block">Instruments</a> {% endcomment %}
  </form>
	</div> <!-- card-body.// -->
	</div> <!-- card.// -->
</aside> <!-- col.// -->
</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
