{% extends 'base.html' %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page"> </h2>
	
</div> <!-- container //  -->
</section>

<section class="section-content mt-3">
<div class="container">
<div class="row">
	<aside class="col-md-3">
</div>
	</aside> <!-- col.// -->
<main class="col-md-12">
	<header class="border-bottom mb-4 pb-3">
			{% comment %} <div class="form-inline"> {% endcomment %}
				{% comment %} <h2>Available Instruments</h2> </br> {% endcomment %}
				<span class="mr-md-auto" style="font-size: 16px;">Found <b> {{instruments_count}}</b> instruments</span> 
			{% comment %} </div> {% endcomment %}
	</header><!-- sect-heading -->

	<div class="row">
		{% if instruments%}
		<div class="container">
			<div id = "map" style = "width: 100%; height: 580px; allignment= center" ></div>
			</div>
			<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">>
			
			<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
				<script>
					// Creating map options
					var mapOptions = {
					center: [20.5937, 78.9629],
					zoom: 5
					}
					
					// Creating a map object
					var map = new L.map('map', mapOptions);
					
					// Creating a Layer object
					var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
					
					// Adding layer to the map
					map.addLayer(layer);
		
					var oms = new OverlappingMarkerSpiderfier(map);
					var popup = new L.Popup();
					oms.addListener('click', function(marker) {
						window.open(marker.desc,"_self");
						});
				</script>
			{% for instrument in instruments %}
				<script>
					var lat = 0;
					var long = 0;
					function findAddress() {
					  var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + "{{ instrument.institute }}"
					  fetch(url)
									.then(response => response.json())
									.then(data => addressArr = data)
									.then(data => long = addressArr[0].lon)
									.then(data => lat = addressArr[0].lat)
									.then(makemarker => marker = new L.Marker([lat,long])
										.on("mouseover",event =>{
											event.target.bindPopup('<div class="card"> <a href="{{ instrument.get_url }}"><img src="{{instrument.instrument_image.url}}" width="200" height="200"> </a>  <h3>'+"{{ instrument.instrument_name }}"+'</h3></div>').openPopup();
										})
										.on("mouseout",event =>{
											event.target.closePopup();
										})
									)
									.then(addmarker => marker.desc = "{{ instrument.get_url }}"
									)
									.then(addto => map.addLayer(marker))
									.then(addin => oms.addMarker(marker))
									.catch(err => console.log(err))    
				  }
				  findAddress()
				  </script>
			{% endfor %} 
			<script>
				map.addLayer(markers);
			</script>
		{% else %}
		<h2> No Instrument Found. </h2>
		{% endif %}
	</div> <!-- row end.// -->

</main> <!-- col.// -->
</div>
</div> <!-- container .//  -->
</section>
{% endblock %}