{% extends 'base.html' %}

{% block content %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<style>
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(64, 204, 83) 50%, rgb(9, 180, 123) 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }
    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }

    .bg3 {
        animation-duration: 5s;
    }

    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }
</style>
<section class="section-content padding-y">
    <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card" style="background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    ">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{ req_instrument.instrument_image.url }}"></a>
        </div> <!-- img-big-wrap.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body" >
    <h2 class="title">{{ req_instrument.instrument_name }}</h2>
    <div class="mb-3"> 
        <var class="price h4">Category: {{ req_instrument.category }}</var> 
    </div>
    <div class="mb-3"> 
        <var class="price h4">Institute: {{ req_instrument.institute }}</var> 
    </div> 
    <p><div class="price h4"> Instrument Description: </div>{{ req_instrument.instrument_description }}</p>
    <p> <div class="price h4"> Link to Instrument Page: </div> <a href="{{ req_instrument.link }}" target="_blank"> {{ req_instrument.link }} </a></p>
    {% if in_wishlist %}
        <a href="#" class="btn  btn-success"> <span class="text">Saved to Wishlist</span> <i class="fas fa-check"></i></a>
        {% comment %} <a href="{% url 'wishlist'%}" class="btn  btn-outline-primary"> <span class="text">View Wishlist</span> <i class="fas fa-eye"></i>  </a> {% endcomment %}
        {% else %}
        <a href="{% url 'add_wishlist' req_instrument.id %}" class="btn  btn-primary"> <span class="text">Save to Cart</span> 
            {% comment %} <i class="fas fa-shopping-cart"></i>   {% endcomment %}
        </a>
    {% endif %}
         </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    <br>
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


