<!-- ========================= FOOTER ========================= -->
<!-- footer bg wave -->
{% load static %}
<div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,79,52,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,79,52,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,79,52,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#004f34" />
        </g>
    </svg>
</div>

<style>
    /*Waves*/
    .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px;
        /*Fix for safari gap*/
        min-height: 50px;
        max-height: 200px;
    }

    /* Animation */

    .parallax>use {
        animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    .parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
    @keyframes move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }
        100% {
            transform: translate3d(45px, 0, 0);
        }
    }

    /*Shrinking for mobile*/

    @media (max-width: 768px) {
        .waves {
            height: 40px;
            min-height: 40px;
        }
        .content {
            height: 30vh;
        }
    }
</style>
<!-- footer bg wave -->


<!-- Google Map -->
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="100%" height="100%" background-color="#004f34" id="gmap_canvas"
            src="https://maps.google.com/maps?q=Indian%20Institute%20of%20Technology,%20Jodhpur,%20342037&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        <a href="https://123movies-org.net"></a>
    </div>
</div>

<style>
    .mapouter {
        background-color: #004f34;
        position: relative;
        text-align: right;
        height: 450px;
        width: 100%;
    }
    .gmap_canvas {
        overflow: hidden;
        height: 100%;
        width: 100%;
        padding: 5% 10% 0% 10%;
    }
</style>
<!-- Google Map -->


<!-- footer with contact and address -->
<div class="grid">
    <div id="item2" class="items">
        <div class="footer">
            <div class="icons">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <div class="text">
                    N.H. 65, Nagaur Road, Karwar 342037,<br> Jodhpur, Rajasthan
                </div>
            </div>
            <div class="icons">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <div class="text"><a href="mailto:bioequipzon@gmail.com">bioequipzon@gmail.com</a></div>
            </div>
            <div class="icons">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="text"><a href="tel:+91 (0) 291 280 1211">+91 (0) 291 280 1211</a></div>
            </div>
            <div class="icons">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <div class="text"><a href="/contact">Contact Us!</a></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 .col-xs-12 ">
        <div class="icons">
            <ul class="menu ">
                <li class="menu__item "><a class="menu__link " href="/">Home</a></li>
                <li class="menu__item "><a class="menu__link " href="#">About</a></li>
                <li class="menu__item "><a class="menu__link " href="{% url 'team' %}">Team</a></li>
                <li class="menu__item "><a class="menu__link " href="{% url 'team' %}">Contact</a></li>
            </ul>
        </div>
        <div>
        <img src="{% static 'images\logo1.gif' %}" alt="IITJ logo" style="display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5rem;
                {% comment %} margin-bottom: 3rem; {% endcomment %}
                width: 20rem;
                height: 20rem;">
        </div>

        <div class="icons-p">
            <p style="text-align: center; font-size: 1.5rem;">Designed & Maintained by IIT Jodhpur <br><br>
                &copy; IITJ, 2022 | All Rights Reserved</p>
        </div>
        <script type="module " src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js "></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js "></script>

    </div>
</div>


<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap ");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins ", sans-serif;
    }
    .footer {
        position: relative;
        width: 100%;
        background: #004f34;
        min-height: 100px;
        padding-top: 5%;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #bdc3c7;
    }

    .contactdetail {
        font-size: 1.75rem;
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu__item {
        list-style: none;
    }

    .social-icon__link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }

    .social-icon__link:hover {
        transform: translateY(-10px);
    }

    .menu__link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
    }

    .menu__link:hover {
        opacity: 1;
    }

    .footer p {
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
    }

    .icons a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .icons-p p {
        color: #FFFFFF;
    }

    .icons {
        margin-top: 2%;
    }

    .grid {
        display: grid;
        height: auto;
        grid-gap: 1em;
        position: relative;
        width: 100%;
        background: #004f34;
        padding-top: 0%;
    }
    .grid #item2 .footer {
        display: flex;
        flex-direction: row;
    }
    .grid #item2 .footer .icons {
        margin: 0.5rem;
        color: white;
        font-size: 4rem;
        text-align: center;
    }

    .grid #item2 .footer .icons i {
        padding: 1rem;
    }

    .grid #item2 .footer .icons .text {
        padding: 1rem;
        font-family: sans-serif;
        font-size: 2rem;
    }
    /* @media screen and (max-width: 700px) {
        .footer {
            display: flex;
            flex-direction: column-reverse;
            box-orient: vertical;
        }
    } */

    @media screen and (max-width: 768px) and (min-width: 320px) {
        .grid #item2 .footer .icons {
            margin: 0.5rem;
            color: white;
            font-size: 2rem;
            text-align: center;
        }

        .grid #item2 .footer .icons i {
            padding: 0.5rem;
        }

        .grid #item2 .footer .icons .text {
            padding: 0.5rem;
            font-family: sans-serif;
            font-size: 1rem;
        }
    }
</style>
<!-- footer with contact and address -->


<script src="https://unpkg.com/aos@next/dist/aos.js "></script>
<script>
    AOS.init();
</script>
{% comment %} 
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2019 Company name </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@pixsellz.io</span>
				<span  class="px-2">+879-332-9375</span>
				<span  class="px-2">Street name 123, Avanue abc</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer> {% endcomment %}
<!-- ========================= FOOTER END // ========================= -->